@media (min-width: $screen-sm-min) {
	html, body, .intro, .intro > .row {
	height: 100%;
	min-height: 700px;
	}
}

section {
	@include container-fixed();

	@media (min-width: $screen-sm-min) {
		width: $container-sm;
	}
	@media (min-width: $screen-md-min) {
		width: $container-md;
	}
	@media (min-width: $screen-lg-min) {
		width: $container-lg;
	}
}

.row{
	@include make-row();
}

//Intro

.intro-text, .intro-photo{
	@include make-sm-column(6);
	position: relative;
	height: 100%;
	padding-top: 16em;
	padding-bottom: 16em;
}
@media (min-width: $screen-sm-min) {
	.mid-box {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
}


.intro-photo {
	background-image: url('http://placekitten.com/g/900/600');
	background-size: cover;
	background-position: center center;
	height: 100%;
}

//Portfolio

.portfolio {
	padding-top: 9em;
	padding-bottom: 9em;
	text-align: right;
	.description {
		@include make-sm-column(3);
	@media (max-width: $screen-sm-min) {
		padding-bottom: 3em;
		text-align: center;
	}
}
	.screenshot {
		@include make-sm-column-offset(1);
		@include make-sm-column(8);
	}
}


//Aspect ratio boxes

.box-header {
	height: 2em;
	border-top-left-radius: .5em;
	border-top-right-radius: .5em;
	background-color: #555;
	opacity: .8;
	background-color: hsla(0,0,33,.8);
	.tiny {
		height: .6em;
		width: .6em;
		border-radius: .6em;
		background-color: red;
		position: absolute;
		top: .7em;		
	}
	.circle1 {
		left: 1.6em;
	}
	.circle2 {
		left: 2.6em;
	}
	.circle3 {
		left: 3.6em;
	}
}



.box-169, .box-43, .box-117 {
	position: relative;
	width: 100%;		/* desired width */
	overflow: hidden;
	border-bottom-left-radius: .5em;
	border-bottom-right-radius: .5em;
		-webkit-box-shadow: 0px 2px 12px -2px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 2px 12px -2px rgba(0,0,0,0.75);
		box-shadow: 0px 2px 12px -2px rgba(0,0,0,0.75);
}
.box-169:before{
	content: "";
	display: block;
	padding-top: 56.25%;
}

.box-43:before{
	content: "";
	display: block;
	padding-top: 75%;
}

.box-117:before{
	content: "";
	display: block;
	padding-top: 63.6363636364%;
}

.content{
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
		background-size: cover;
		background-position: 50%;
	// 	background-repeat: no-repeat;
	// 	transition: all ease-in-out .25s;
	// &:hover {
	// 	transform: scale(1.15);
	// 	transition: all ease-in-out .35s;
	// }
}

#first-portfolio-item {
	background-size: cover;
	background-position: center center;
	height: 100%;	
}
#second-portfolio-item {
	background-size: cover;
	background-position: center center;
	height: 100%;	
}

//Every portfolio section id has its own "theme" colour

#samanu-sofute {
	$sam-sof-col: #e74c3c; 	
	background: $sam-sof-col;
		.btn {
			&:hover,
			&:focus,
			&.focus{
				color: $sam-sof-col;
		  }
		}
		.tiny {
			background-color: $sam-sof-col!important;
		}
} 

#uzuovejos {
	$uzuovejos-col: #B0BABD; 	
	background: $uzuovejos-col;
		.btn {
			&:hover,
			&:focus,
			&.focus{
				color: $uzuovejos-col;
		  }
		}
		.tiny {
			background-color: $uzuovejos-col!important;
		}
} 

//Footer

footer {
	padding-top: 4em;
	padding-bottom: 4em;
	background-color: $text-color;
	color: #fff;

	a {
		color: #fff;
		letter-spacing: 1px;
		font-weight: bold;
		&:hover {
			color: darken(#fff, 25%);
		}
	}
	.btn:hover,
	.btn:focus,
	.btn:active {
		border: 2px solid #fff;
	}
} 