//Variables

$green:			#49b571;
	$grn-grd-top:	#4bce7c;
	$grn-grd-btm:	#49b571;
	$grn-grd-top-h:	#45c775;
	$grn-grd-btm-h:	#3da965;
	$grn-shadow:	#98c4a9;
$orange:		#ff7200;
$orange-hover:	#e86902; //Note: test darken($orange, 5%)
$text:			#353434; //Grey
$shadow:		$green;

//Greys
$grey1:			#fbfbfb; //Contact <div> bg
$grey2:			#cccccc; //Contact <form> border
$grey3:			#eeeeee; //<a> hover border-bottom
$grey-text:		#353434; 
$grey-text-mob:	#686868;
$grey-form:		#a9a9a9;
$img-grey:		#757373;
