html, body, main {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Asap', sans-serif;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
}

main.progress {
  background-color: #c0392b;
  transition: all ease-out 2s;
}

main.break {
  background-color: #27ae60;
  transition: all ease-out 2s;
}

section {
  
}

/* Fonts */
.watch-digits {
  font-family: 'Orbitron', sans-serif;
}

.element1 {
  font-family: 'Asap', sans-serif;
  font-family: 'Bangers', cursive;
  font-family: 'Allerta Stencil', sans-serif;
}

/* Timer */

.timer {
  /*background-color: #c0392b;*/
  text-align: center;
  color: white;
  /*font-weight: 900;*/
  font-family: 'Droid Sans Mono', sans-serif;
  font-size: 500%;
}
.minutes {
}
.divider {
  margin: 0 -50px;
}
.seconds {
}

/* Controls */

.controls {
  text-align: center;
  padding: 6px;
  padding: 15% 0;
}
  #start {}
  #pause {}
  #reset {}

/* Tomatoes*/

#tomatoes {
  text-align: center;
}
  #tomatoes>span {
    display: inline-block;
    height: 52px;
    width: 52px;
    background-image: url(images/vegetable3.svg);
/*    height: 20px;
    width: 20px;
    margin: 5px;
    border: 1px solid white;
    background-color: #27ae60; */   
  }
  .progress #tomatoes>span {
    /*background-color: #c0392b;*/
    transition: all ease-out 2s;
  }
  .break #tomatoes>span {
    transition: all ease-out 2s;
  }
  #tomatoes>span.unfinished {
  }
  #tomatoes>span.finished {
    background-image: url(images/vegetable32.svg);
    opacity: 1;
  }
#first {}
#second {}
#third {}
#last {}

/* Settings */

section.settings {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.settings .toggle-settings {
  position: absolute;
  bottom: 6px;
  right: 6px;
}

.settings-container {
  background-color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 9;
  min-height: 220px;
  min-width: 280px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 1px 1px 10px black;
}

.settings .close-settings {
  position: absolute;
  bottom: 6px;
  right: 6px;
}

.hidden {
  display: none;
}

.settings form {
  position: relative;
  padding: 6px 0;
}

  .settings label {
    line-height: 2;
    width: 60%;
    display: inline-block;
  }
  .settings input {
    line-height: 2;    
    width: 20%;
    display: inline-block;
    position: absolute;
    right: 0;
  }

/* Reset */

.reset {
  position: absolute;
  top: 6px;
  right: 6px;
  white-space: nowrap;
  transition: all .15s ease;
  -o-transition: all .15s ease;
  -ms-transition: all .15s ease;
  -moz-transition: all .15s ease;
  -webkit-transition: all .15s ease;
  z-index: 9;
}
#easter-egg {
  font-size: 45px;
  position: absolute;
  top: 8px;
  right: 43px;
  white-space: nowrap;
  color: #fff;
}
.move-down {
  transform: translateY(50px);
  -webkit-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -webkit-transition: all .5s ease;
}
.anim-visible {
  opacity: 1;
  transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -webkit-transition: all .5s ease;  
}
.anim-hidden {
  opacity: 0;
  transition: all .15s ease;
  -o-transition: all .15s ease;
  -ms-transition: all .15s ease;
  -moz-transition: all .15s ease;
  -webkit-transition: all .15s ease;  
}

/* Button */

button {
  padding: 0 18px;
  line-height: 40px;
  color: white;
  background: transparent;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}
button:focus {
  outline: none;
  /*background-image:*/
    /*linear-gradient(white 0%,  transparent 10%, transparent 90%, white 100%);*/
}